.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none; /* important car Card est un Link */
}

/* image */
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* dégradé sombre en bas */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

/* titre */
.card__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  z-index: 1;
}
@media (max-width: 768px) {
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

 }