.collapse {
  width: 100%;
  margin-bottom: 30px;
}

.collapse__header {
  width: 100%;
  background: #ff6060;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse__arrow {
  font-size: 24px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.collapse__arrow.open {
  transform: rotate(0deg);
}

.collapse__content {
  background: #f6f6f6;
  color: #000;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
}
