/* CONTAINER */
.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;  
}

/* HEADER */
.collapse__header {
  height: 55px;
  background: #ff6060;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
/* TITLE */
.colLapse__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
/* ARROW */
.collapse__arrow {
  font-size: 24px;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease; /* lent */
}
.collapse__arrow.open {
  transform: rotate(-180deg);
}
  /* CONTENT (fermé par défaut) */
.collapse__content {
  max-height: 0 ;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  background: transparent;

  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, margin-bottom 0.5s ease-out;

}

/* CONTENT OUVERT */
.collapse__content.open {
  max-height: 800px;
  opacity: 1;
  margin-bottom: 50px;
}

/* INTERIEUR : le texte descend/monte à la même vitesse */
.collapse__contentInner {
  margin: 0px;
  /* padding: 0 20px; */
  font-size: 18px;
  font-family: "Montserrat", sans-serif;

  transform: translateY(-30px);
  opacity: 0;

  /* même durée ouverture/fermeture */
  /* transition: transform 0.5s ease, opacity 0.5s ease; */
  transition: transform 0.35s ease-out, opacity 0.35s ease-out;
will-change: transform, opacity;

}

.collapse__content.open .collapse__contentInner {
  transform: translateY(0);
  opacity: 1;
}

 @media (max-width: 768px) {
  .colLapse__title { 
  font-size: 18px;
  font-weight: 500;
   }
 
  .collapse__header {
  height: 50px;
}
 }