/* CONTAINER */
.collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px; 
}

/* HEADER */
.collapse__header {
  height: 50px;
  background: #ff6060;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

/* TITLE */
.colLapse__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

/* ARROW */
.collapse__arrow {
  font-size: 24px;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease; /* lent */
}

.collapse__arrow.open {
  transform: rotate(-180deg);
}

/* CONTENT (fermé par défaut) */
.collapse__content {
  /* margin-bottom: 10px; */
  max-height:0;          
  opacity: 0;             
  overflow: hidden;  
    max-height: 0;
  overflow: hidden;
  border-radius: 0;
  transition: max-height 0.2s ease;
  /* transform: translateY(0px); */
  background: transparent;
}
/* CONTENT OUVERT */
.collapse__content.open {
  max-height: 800px;      
  opacity: 1;
   transition: max-height 0.2s ease; 
    margin-bottom: 10px;
}

/* PADDING À L’INTÉRIEUR (évite les bugs d’animation) */
.collapse__contentInner {
    margin: 0;
  padding: 0 20px; 
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
     transform: translateY(-50px);
  transition: transform 0.2s ease, padding 5s ease;
}

.collapse__content.open .collapse__contentInner {
  transform: translateY(0px);

 }


 @media (max-width: 768px) {
  .colLapse__title { 
  font-size: 18px;
  font-weight: 500;
   }
 
  
 }