.collapse {
  /* width: 75%; */
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: column;
}
.collapse__header {
  /* width: 100%; */
  background: #ff6060;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse__arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.collapse__arrow.open {
  transform: rotate(-180deg);
}

.collapse__content {
  background: #f6f6f6;
  color: #000;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
   font-family: "Montserrat", sans-serif;
}
.collapse__title {
  font-size: 16px;
  font-weight:200;
  color: white;
}


 @media (max-width: 768px) {
 
}