.footer {
  width: 100%;
  background-color: #000;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-left: calc(-1 * 20px);
  margin-right: calc(-1 * 20px);
  width: calc(100% + 40px);
  box-sizing: border-box;
   overflow-x: hidden;
}

.footer__logo {
  width: 120px;
 
}

.footer__text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
   font-family: "Montserrat", sans-serif;
}


 @media (max-width: 768px) {
  .footer__text {
    font-size: 16px;
    max-width: 150px;
  }
}
