.gallery {
  background: #f6f6f6;
  border-radius: 25px;
  padding:30px;
  margin-bottom: 30px;
   margin-left: 50px ;
  margin-right: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Tablette */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    background: transparent;
    margin: 10px 10px;

  }
}
