.header {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:40px;
}

.header__logo {
  width: 150px;
  margin-left: 30px;
}

.header__links {
  display: flex;
  gap: 50px;
}

.header__links a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
   font-family: "Montserrat", sans-serif;
  
}

.header__links a {
  text-decoration: none;
  border-bottom: 1.5px solid transparent; /* réserve l’espace */
}
 .header__links a.active {
  border-bottom: 1.5px solid #000;
}

@media (max-width: 768px) {
  .header {
    padding: 0px;
  }

  .header__links {
    gap: 10px;
  }

  .header__links a {
    font-size: 10px;
    font-weight: 500;
     text-transform: uppercase;
  }
  .header__links a.active {
  border-bottom: 1px solid #000;
}
/* .header__nav {
  margin-right:20px;
  margin-left: 5px;
  margin-bottom: 20px;

} */
 .header__nav {
  display: flex;
  justify-content:center;
  margin-right:10px;
  gap: 60px;
  margin-left: 5px;
  padding: 10px;
}
.header__logo {
  width: 100px;
  margin-left:5px;
}
.header__links {
    gap: 40px;
  }
}
