.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.host-name {
  color: #ff6060;
  font-size: 18px;
  text-align: right;
  max-width: 100px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px){
.host-picture{
  width: 50px;
  height: 50px;
  }

.host-name{
  font-size: 14px;
}
.host{
  gap:5px;
}

}
  