.host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5px;
}

.host-name {
  color: #ff6060;
  font-size: 18px;
  text-align: right;
  max-width: 100px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
