.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  color: #ff6060;
  font-size: 18px;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
