.rating {
  display: flex;
  gap: 8px;
}

.rating .fa-star {
  font-size: 24px;
  color: #e3e3e3; /* gris */
}

.rating .fa-star.is-active {
  color: #ff6060; /* rouge */
}

@media (max-width: 768px){

.rating .fa-star{

font-size: 16px;

}
.rating{
  gap: 5px;
}
  }