.slidshow {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
}

.slidshow__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Flèches */
.slidshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 80px;
  cursor: pointer;
  padding: 0 15px;
  z-index: 2;
}

.slidshow__arrow.left {
  left: 10px;
}

.slidshow__arrow.right {
  right: 10px;
}

/* /* Compteur * */

.slidshow__count{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
}

@media (max-width: 768px){

.slidshow {
  height: 250px;
  margin-left: 0px ;
  margin-right: 0px ;
}
  .slidshow__img{ height: 250px;width: 100%; }
  .slidshow__arrow{ width: 56px; height: 56px; }
  .slidshow__arrow i{ font-size: 35px; }
  .slidshow__count{ font-size: 20px; }
}