.slidshow {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 0px;
}

.slidshow__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Flèches */
.slidshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 60px;
  cursor: pointer;
  padding: 0 15px;
  z-index: 2;
}

.slidshow__arrow.left {
  left: 10px;
}

.slidshow__arrow.right {
  right: 10px;
}

/* /* Compteur * */

.slidshow__count{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
}

@media (max-width: 768px){
.slidshow__arrow {
  font-size: 35px;
  padding: 0 10px;
}
.slidshow__count{
  bottom: 5px;
  font-size: 10px;
}
 }