.tags {
  display: flex;
  gap: 6px;
}

.tags__item {
  background: #ff6060;
  color: #fff;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

@media (max-width: 768px){

.tags__item{
 font-size: 12px;
 font-weight: 400;
 padding: 5px 10px ;

}
  }