/* .apropos{
    width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.apropos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.apropos > *{
  max-width: 80%;
}

@media (max-width: 768px) {
  .apropos{
    margin: 20px 10px;
  }

  .apropos > *{
  max-width: 100%;
}
    }
