.error {
  min-height: calc(100vh - 209px); /* si ton footer fait 209px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  text-align: center;
   font-family: "Montserrat", sans-serif;
}

.error__code {
  margin: 0;
  font-size: 200px;
  font-weight: 700;
  color: #ff6060;
  line-height: 1;
}

.error__text {
  margin: 0;
  font-size:24px;
  font-weight: 200;
  color: #ff6060;
}

.error__link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .error__code {
  font-size: 80px;
  font-weight: 700;
  color: #ff6060;
  line-height: 1;
}
.error {
  min-height: 20px;
  gap: 80px;
 
}
.error__text {
  margin: 0;
  font-size:16px;
  font-weight: 500;
}
.error__link {
  font-size: 16px;
  font-weight: 500;
}
    }
